# Test account number
uin 12345678

# Test account password
password test

# Public IP
#ip 192.168.0.123

# Public port
#port 1550

# Peer account number
peer 23456789

# Test file
#file /tmp/test.bin

# Test file size
#size 1048576

# Received files directory (must exist, will overwrite without asking!)
#dir /tmp
