Makefile
Makefile.in
*.m4
*.o
*.la
*.lo
.deps
.libs
*.pb-c.*
stamp-h*
config.*
autom4te.cache/
configure
depcomp
docs/html
docs/Doxyfile
docs/html-stamp
pkgconfig/libgadu.pc
include/libgadu.h
install-sh
libtool
ltmain.sh
missing
examples/conn-async
examples/httphash
examples/register-async
examples/register-sync
examples/remind-async
examples/remind-sync
examples/send
examples/status
examples/token-async
examples/token-sync
test/automatic/connect
test/automatic/convert
test/automatic/endian1
test/automatic/hash
test/automatic/message1
test/automatic/message2
test/automatic/packet
test/automatic/protocol
test/automatic/resolver
test/automatic/script/script.c

